
.summary h3 {
	color: red !important;
	font-family: 'Open Sans', sans-serif;
}

.iconlarge, img.iconlarge {
 	width: 40px;
 	height: 40px;
	background-image: none;
}

.iconlarge::before {
 	font-size:40px;
}

.instancename {
	font-size:24px;
}

#page-header {
	background-color: #06314d;
}

.coursesearchbox, .coursesearchbox.input::-webkit-input-placeholder, .coursesearchbox.input:-moz-placeholder, .coursesearchbox.input::-moz-placeholder, .coursesearchbox.input:-ms-input-placeholder  {
	color: #06314d;
}