
.summary h3 {
	color: red !important;
	font-family: 'Open Sans', sans-serif;
}

.iconlarge, img.iconlarge {
 	width: 40px;
 	height: 40px;
	background-image: none;
}

.iconlarge::before {
 	font-size:40px;
}

.instancename {
	font-size:24px;
}

#page-header {
	background-color: #06314d;
}

.coursesearchbox input, .coursesearchbox.input::-webkit-input-placeholder, .coursesearchbox.input:-moz-placeholder, .coursesearchbox.input::-moz-placeholder, .coursesearchbox.input:-ms-input-placeholder  {
	color: #06314d;
}

.summary-progress {
  position: relative;
  background-image: "https://rawgit.com/qwerty1829/moodle-frontend/master/assets/images/progress_bg.jpg";
  height: 50px;
  background-size: contain;
}

.summary-progress-icon {
  position: relative;
  background-image: "https://rawgit.com/qwerty1829/moodle-frontend/master/assets/images/progress_bg.jpg";
  height: 50px;
  background-size: contain;
}

@media (max-width: 600px) {
  #yui_3_17_2_1_1473171512459_226 {
    content:url("https://cdn.rawgit.com/qwerty1829/moodle-frontend/master/assets/images/banner-header-mobile.png");
  }
}

ul.badges {
    margin: 0;
    list-style: none;
    margin-left: 0px !important;
    padding: 10px;
    text-align: center;}
